body
{
    --backgroundColor : #f5f5f5;
    width: 450px;
    height: 500px;
    font-size: 14px;
}

.app-bar {
    height: 28px;
    background-color: #444;
    margin: -8px;
    color: #fff;
    padding: 4px;
    font-size: 18px;
}

.empty-repo-list
{
    min-height       : 25%;
    width            : calc(100% - 48px);
    margin           : 12px;
    padding          : 12px;
    border           : 1px solid indianred;
    background-color : #ffd589;
    border-radius    : 5px;
}

.align-center
{
    text-align : center;
}

.button
{
    position         : relative;
    display          : inline-block;
    padding          : 4px 8px;
    background-color : #f2f2f2;
    text-decoration  : none !important;
    box-shadow       : 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.button:hover
{
    background-color : #eee;
}

.table-row-name
{
    white-space : nowrap;
    text-align  : left;
}

table
{
    border-spacing  : 0;
    border-collapse : collapse;
    overflow        : hidden;
    z-index         : 1;
    width           : 100%
}

td, th
{
    padding    : 10px;
    position   : relative;
    text-align : center;
}

tr:not(:first-of-type):hover
{
    background-color : var( --backgroundColor );
}

td:not(:first-child):hover::after
{
    position         : absolute;
    left             : 0;
    top              : -5000px;
    height           : 10000px;
    width            : 100%;
    background-color : var( --backgroundColor );
    content          : '\00a0';
    z-index          : -1;
}

.section
{
    padding : 8px 4px;
    position: relative;
    margin : 3px 0;
}

.app-repo-list
{
    min-width  : 100%;
    overflow-x : scroll;
}

.loading-overlay:after
{
    position   : absolute;
    content    : "";
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    background : #666;
    opacity    : 0.6;
}

.clickable
{
    cursor : pointer;
}

.clickable:hover
{
    text-decoration : underline;
}

.text-italic
{
    font-style: italic;
}

.hidden
{
    display : none;
}

.disabled
{
    pointer-events: none;
    opacity: 0.7;

}

.m-l-base
{
    margin-left: 8px;
}

.header
{
    text-align : center;
    min-height : 12px;
}

ul.hightlight-rows li
{
    padding: 4px;
    display: flex;
    justify-content: space-between;

    font-size: 14px;
}

ul.hightlight-rows li:hover
{
    background-color: #f3f3f3;
}

.loading-progress
{
    width : 80px;
}

label input[type="text"]
{
    outline       : none;
    border        : 0;
    border-bottom : 1px solid #ccc;
    padding       : 4px 8px 4px;
}

.full-width
{
    width : 100%;
}

*[data-tooltip]
{
    position : relative;
}

*[data-tooltip]:hover::after
{
    content       : attr(data-tooltip);
    position      : absolute;
    top           : calc(100% + 12px);
    left          : 0;
    min-width     : 100px;
    background    : #aeaeae;
    color         : #fff;
    padding       : 4px;
    border-radius : 4px;
    z-index       : 1;
    margin        : 0 auto;
    white-space   : nowrap;
}

.options-items-list-wrapper
{
    max-height : 300px;
    overflow-y : scroll;
}

ul.options-items-list
{
    padding    : 0;
    columns    : 2;
    list-style : none;
}

.editable-list-form
{
    position : relative;  
}

.editable-list-form .org-view-list
{
    display: none;
}

.editable-list-form.org-view .org-view-list
{
    display: block;
}

.editable-list-form .default-view-list
{
    display: block;
}

.editable-list-form.org-view .default-view-list
{
    display: none;
}

.editable-list-form .switcher:before
{
    content: 'Show'
}
.editable-list-form.org-view .switcher:before
{
    content: 'Hide'
}
